.about {
  padding: 30px;
  background: linear-gradient(135deg, #ffb6c1, #f0f8ff);
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-header h1 {
  font-size: 3rem;
  color: #fe877c;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Kart genişliği arttırıldı */
  gap: 20px;
  justify-content: center; /* Kartları yatayda ortalar */
  align-items: center; /* Kartları dikeyde ortalar */
  margin: 30px; /* Üstten biraz boşluk ekledik */
}

.game-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Kartın içindeki her öğeyi ortalar */
  justify-content: space-between;
  height: 100%; /* Kartın içeriğiyle orantılı şekilde büyümesini sağlar */
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card-header {
  text-align: center;
}

.game-card-header h2 {
  font-size: 1.8rem;
  color: #fe877c;
}

.game-character {
  width: 60%;
  margin-top: 10px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.game-card-body h3 {
  font-size: 1.2rem;
  color: #333;
}

.game-card-body p {
  color: #666;
}

.play-button {
  background-color: #ef06a1;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #ba1dd6;
}
