.game-card {
  width: 300px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.game-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 10px;
}

.game-card h3 {
  margin: 10px 0;
  color: #333;
  font-size: 1.4em;
}

.game-card button {
  background: linear-gradient(90deg, #7ea5ff, #ff758c);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #ff758c, #7ea5ff);
}

.game-card button a {
  text-decoration: none; /* Altı çiziliyi kaldırır */
  color: white; /* Yazı rengini beyaz yapar */
  display: inline-block; /* Tam genişlik yerine sadece içeriği kadar */
}

